[Desktop Entry]
Encoding=UTF-8
Name=Puzcoin
Comment=Puzcoin P2P Cryptocurrency
Comment[fr]=Puzcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Puzcoin, eşten eşe kriptografik sanal para birimi
Exec=puzcoin-qt %u
Terminal=false
Type=Application
Icon=puzcoin128
MimeType=x-scheme-handler/puzcoin;
Categories=Office;Finance;
